/* ===== BACKGROUND ===== */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background-chefy{
  min-height: 100vh; /* ensures it covers the full screen */
  background-image: url('./assets/chefy-min.png');
  background-size: cover;        /* scales the image to cover the container */
  background-position: center;   /* centers the image */
  background-repeat: no-repeat;  /* prevents tiling */
}
@media (max-width: 768px) {
  .background-chefy {
    background-size: contain;
  }
}